@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lustria&display=swap");
body::-webkit-scrollbar {
  width: 18px;
}
body::-webkit-scrollbar-track {
  background: #f1f1f1;
}
body::-webkit-scrollbar-thumb {
  background: #1862b6;
}

body.dark {
  overflow-x: hidden;
}
body.dark .contain_home {
  background: rgb(14, 28, 64);
}
body.dark .contain_home .contain_nav {
  background: rgb(14, 28, 64);
  color: white;
  transition: background 0.5s ease-in-out;
}
body.dark .header_work {
  background-color: #333333;
}

.contain_nav {
  transition: background 0.5s ease-in-out;
  background: #2f14b3;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #1c71b2, #1862b6, #5433FF);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #5433FF, #20BDFF, #5433FF);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
}
.contain_nav .linkUl {
  transition: all 0.5s ease;
}
.contain_nav .linkUl:hover {
  color: rgb(29, 27, 27);
}

#works .work_subtext {
  margin-bottom: 2rem;
}
#works .item {
  padding: 1px;
  border-radius: 2px;
  width: 350px;
  height: 250px;
  margin-bottom: 20px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 15px;
  transform: scale(1);
  transition: all 0.2s ease-in-out;
  box-shadow: -2px 14px 23px -5px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: -2px 14px 23px -5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: -2px 14px 23px -5px rgba(0, 0, 0, 0.5);
}
@media (max-width: 500px) {
  #works .item {
    width: 100%;
  }
}
#works .item:hover {
  transform: scale(1.05);
}
#works .item .item_img {
  background-color: red;
  width: 100%;
  height: 85%;
  box-shadow: -2px 14px 4px -5px rgba(150, 147, 147, 0.5);
  -webkit-box-shadow: -2px 14px 4px -5px rgba(150, 147, 147, 0.5);
  -moz-box-shadow: -2px 14px 4px -5px rgba(150, 147, 147, 0.5);
}
#works .item .item_img img {
  width: 100%;
  height: 100%;
}
#works .item .items_icon {
  width: 100%;
  height: 15%;
  background: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}
#works .item .items_icon .items_select {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}
#works .item .items_icon .items_select .items_icon_left {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#works .item .items_icon .items_select .items_icon_left span {
  box-shadow: -2px 14px 23px -5px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: -2px 14px 23px -5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: -2px 14px 23px -5px rgba(0, 0, 0, 0.5);
  padding: 1px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
#works .item .items_icon .items_select .items_icon_left span img {
  width: 80%;
  height: 80%;
}
#works .item .items_icon .items_select .items_icon_right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 100%;
}
#works .item .items_icon .items_select .items_icon_right .juis {
  font-size: 16px;
}
#works .item .items_icon .items_select .items_icon_right span a {
  text-decoration: none;
  color: rgb(22, 21, 21);
}
#works .item img {
  width: 100%;
  height: auto;
}
#works .waves {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px;
  /*Fix for safari gap*/
  min-height: 100px;
  max-height: 150px;
}

.contain_services {
  position: relative;
}
.contain_services .slider-thumb::before {
  position: absolute;
  content: "";
  left: 15%;
  top: -55%;
  width: 200px;
  height: 200px;
  background: #6190E8;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #A7BFE8, #6190E8);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #A7BFE8, #6190E8);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 62% 47% 82% 35%/45% 45% 80% 66%;
  will-change: border-radius, transform, opacity;
  animation: sliderShape 5s linear infinite;
  display: block;
  z-index: -1;
  -webkit-animation: sliderShape 5s linear infinite;
}
@keyframes sliderShape {
  0%, 100% {
    border-radius: 42% 58% 70% 30%/45% 45% 55% 55%;
    transform: translate3d(0, 0, 0) rotateZ(0.01deg);
  }
  34% {
    border-radius: 70% 30% 46% 54%/30% 29% 71% 70%;
    transform: translate3d(0, 5px, 0) rotateZ(0.01deg);
  }
  50% {
    transform: translate3d(0, 0, 0) rotateZ(0.01deg);
  }
  67% {
    border-radius: 100% 60% 60% 100%/100% 100% 60% 60%;
    transform: translate3d(0, -3px, 0) rotateZ(0.01deg);
  }
}
.contain_services .item_service {
  transition: all 0.5s ease;
}
.contain_services .item_service:hover {
  background: #6190E8;
  /* fallback for old browsers */
}
.contain_services .item_service:hover h1 {
  color: white;
}
.contain_services .item_service:hover p {
  color: white;
}
.contain_services .item_service:hover a {
  color: white;
}

.about {
  transform: rotate(270deg);
  position: relative;
  overflow: hidden;
}

.snow {
  position: absolute;
  border-radius: 50%;
  background: rgba(175, 169, 169, 0.5);
  box-shadow: 0 0 5px rgb(255, 255, 255);
  opacity: 0;
  animation: fall 10s forwards;
  /*  Durée de la chute  */
}
@keyframes fall {
  to {
    bottom: 0px;
    opacity: 1;
    color: white;
  }
}

.contain_services {
  position: relative;
  overflow: hidden;
}
.contain_services .snow2 {
  position: absolute;
  border-radius: 50%;
  background: rgba(137, 130, 130, 0.5);
  box-shadow: 0 0 5px rgb(255, 255, 255);
  opacity: 0;
  animation: fall 10s forwards;
  z-index: -10;
  /*  Durée de la chute  */
}
@keyframes fall {
  to {
    bottom: 0px;
    opacity: 1;
    color: white;
  }
}

.contain_other_info {
  @import url(//fonts.googleapis.com/css?family=Lato:300:400);
  /* Animation */
  /*Shrinking for mobile*/
}
@media screen and (max-width: 768px) {
  .contain_other_info {
    margin-bottom: 60px;
  }
}
.contain_other_info body {
  margin: 0;
}
.contain_other_info h1 {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
  font-size: 48px;
}
.contain_other_info p {
  font-family: "Lato", sans-serif;
  letter-spacing: 1px;
  font-size: 14px;
  color: #333333;
}
.contain_other_info .header {
  position: relative;
  text-align: center;
  background: linear-gradient(60deg, rgb(84, 58, 183) 0%, rgb(0, 172, 193) 100%);
  color: white;
}
.contain_other_info .inner-header {
  height: 65vh;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  /*https://fonts.google.com/specimen/Major+Mono+Display?category=Monospace*/
  @import url("https://fonts.googleapis.com/css2?family=Exo:wght@200;300;400&display=swap");
  /*.xg-img-wrap:hover{
  box-shadow: 2px 2px 0px var(--c6);
  }*/
  /*.xg-img-info::before{
  content: "";
  width: 30%;
  height: 2px;
  position: absolute;
  background: var(--c6);
  left: 0px;
  top: 8px;
  }
  .xg-img-info::after{
  content: "";
  width: 15%;
  height: 2px;
  position: absolute;
  background: var(--c6);
  left: 0px;
  top: 18px;
  }*/
}
.contain_other_info .inner-header::-webkit-scrollbar {
  width: 15px;
}
.contain_other_info .inner-header::-webkit-scrollbar-track {
  background-color: rgb(255, 255, 255);
}
.contain_other_info .inner-header::-webkit-scrollbar-thumb {
  background-color: #6190E8;
  border-radius: 10px;
}
.contain_other_info .inner-header :root {
  --c0: #FFFFFF;
  --c1: #0D0D0D;
  --c2: #262626;
  --c3: #594936;
  --c4: #8C7251;
  --c5: #BFAE78;
  --c6: #FFCC33;
}
.contain_other_info .inner-header .x-container {
  max-width: 100%;
  margin: auto;
  position: relative;
}
.contain_other_info .inner-header .x-content {
  background: var(--c2);
  color: var(--c5);
  padding: 20px;
  margin-bottom: 30px;
  position: relative;
  display: flex;
}
.contain_other_info .inner-header .x-content::after {
  content: "";
  position: absolute;
  bottom: 0px;
  right: 0px;
  height: 2px;
  width: 70%;
  background: var(--c6);
}
.contain_other_info .inner-header .x-content::before {
  content: "";
  position: absolute;
  bottom: 0px;
  right: 0px;
  height: 70%;
  width: 2px;
  background: var(--c6);
}
.contain_other_info .inner-header .x-col50 {
  width: 50%;
}
.contain_other_info .inner-header .x-gallery {
  height: 100%;
}
.contain_other_info .inner-header .x-gallery .gallerie_header h1 {
  font-family: "Lustria", serif;
  font-weight: 300;
  letter-spacing: 2px;
  font-size: 48px;
  color: white;
  text-align: center;
  margin-bottom: 20px;
  width: 100%;
}
.contain_other_info .inner-header .xg-container {
  column-count: 4;
  column-gap: 20px;
}
.contain_other_info .inner-header .xg-img-wrap {
  /*box-sizing: border-box;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;*/
  margin-bottom: 20px;
  /*border-radius: 20px;*/
  overflow: hidden;
  position: relative;
  cursor: pointer;
  display: flex;
  box-sizing: border-box;
  border: 1px solid var(--c2);
}
.contain_other_info .inner-header .xg-img-info {
  position: absolute;
  color: var(--c0);
  height: 100%;
  width: 120%;
  bottom: 0%;
  top: 0%;
  transform: rotate(10deg) translate(0%, 120%);
  transition: 200ms cubic-bezier(0, 0, 0.2, 1);
  user-select: none;
  z-index: -11;
}
.contain_other_info .inner-header .xg-img-info-open {
  transform: translate(0%, 20%);
}
.contain_other_info .inner-header .xg-img-info-inner {
  transform: rotate(-10deg);
  position: relative;
  top: 0px;
  left: -5px;
  padding: 25px 50px;
}
.contain_other_info .inner-header .xg-img-date {
  position: absolute;
  bottom: -20px;
  right: 50px;
}
.contain_other_info .inner-header .xg-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  user-select: none;
}
.contain_other_info .inner-header .xg-img-prompt {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
@media (max-width: 992px) {
  .contain_other_info .inner-header .xg-container {
    column-count: 3;
  }
}
@media (max-width: 768px) {
  .contain_other_info .inner-header .xg-container {
    column-count: 2;
  }
}
.contain_other_info .inner-header .xg-btn {
  position: relative;
  display: inline-flex;
  padding: 12px 20px;
  margin-right: 10px;
  margin-bottom: 10px;
  outline: 1px solid var(--c2);
  /*background: var(--c2);*/
  color: var(--c0);
  user-select: none;
  cursor: pointer;
}
.contain_other_info .inner-header .xg-btn-active {
  color: var(--c6);
}
.contain_other_info .inner-header .xg-btn::after {
  content: "";
  position: absolute;
  bottom: 0px;
  right: 0px;
  height: 2px;
  width: 30%;
  background: var(--c6);
  box-shadow: 0px 0px 6px var(--c6);
  transition: 100ms ease-in-out;
}
.contain_other_info .inner-header .xg-btn::before {
  content: "";
  position: absolute;
  bottom: 0px;
  right: 0px;
  height: 30%;
  width: 2px;
  background: var(--c6);
  box-shadow: 0px 0px 6px var(--c6);
  transition: 100ms ease-in-out;
}
.contain_other_info .inner-header .xg-btn:hover::after {
  height: 2px;
  width: 80%;
}
.contain_other_info .inner-header .xg-btn:hover::before {
  height: 80%;
  width: 2px;
}
.contain_other_info .inner-header .xg-loader {
  height: 100%;
  width: 100%;
  background: var(--c1);
  opacity: 0.9;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 2;
  display: none;
}
.contain_other_info .inner-header .xg-loader-text {
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 32px;
}
.contain_other_info .inner-header .xg-img-preview {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.9);
  z-index: 3;
  display: none;
  overflow-y: auto;
}
.contain_other_info .inner-header .xgp-wrap {
  width: 800px;
  background: var(--c1);
  margin: auto;
  display: flex;
  transform: translate(0%, 0%);
  top: 50px;
  position: relative;
  border: 1px solid var(--c2);
  box-sizing: border-box;
}
.contain_other_info .inner-header .xgp-wrap::after {
  content: "";
  height: 70%;
  width: 4px;
  position: absolute;
  bottom: 0px;
  right: 0px;
  background: var(--c6);
  box-shadow: 0px 0px 6px var(--c6);
}
.contain_other_info .inner-header .xgp-wrap::before {
  content: "";
  height: 4px;
  width: 70%;
  position: absolute;
  bottom: 0px;
  right: 0px;
  background: var(--c6);
  box-shadow: 0px 0px 6px var(--c6);
}
.contain_other_info .inner-header .xgp-img-inner {
  width: 500px;
  flex-shrink: 0;
  transition: 100ms ease-in-out;
}
.contain_other_info .inner-header .xgp-img-inner.xgp-zoomed-inner {
  width: 800px;
}
.contain_other_info .inner-header .xgp-img {
  max-height: 100%;
  max-width: 100%;
  cursor: zoom-in;
  display: flex;
}
.contain_other_info .inner-header .xgp-img.xgp-zoomed {
  cursor: zoom-out;
  height: 100%;
}
.contain_other_info .inner-header .xgp-details {
  color: var(--c5);
  padding: 20px;
  position: relative;
}
.contain_other_info .inner-header .xgp-prompt {
  font-size: 24px;
}
.contain_other_info .inner-header .xgp-date {
  margin-top: 50px;
  font-size: 18px;
}
.contain_other_info .inner-header .xgp-tags {
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 18px;
  user-select: none;
}
.contain_other_info .inner-header .xgp-tag {
  background: var(--c2);
  padding: 8px 14px;
  border-radius: 100px;
}
@media (max-width: 981px) {
  .contain_other_info .inner-header .xgp-wrap {
    flex-direction: column;
    width: 60%;
    height: 80%;
    overflow-y: auto;
  }
  .contain_other_info .inner-header .xgp-img-inner {
    width: 100%;
    flex-shrink: 0;
  }
  .contain_other_info .inner-header .xg-img-preview {
    overflow: auto;
  }
  .contain_other_info .inner-header .xgp-wrap::after,
.contain_other_info .inner-header .xgp-wrap::before {
    display: none;
  }
  .contain_other_info .inner-header .xgp-wrap.xg-overflow {
    overflow: unset;
    position: static;
    margin: unset;
    height: 100%;
    width: auto;
    /* background: none;*/
  }
  .contain_other_info .inner-header .xgp-img-inner.xgp-zoomed-inner {
    width: 100%;
  }
  .contain_other_info .inner-header .xgp-img.xgp-zoomed {
    top: 0px;
    left: 0px;
    transform: none;
    margin: unset;
    width: 100%;
    height: auto;
  }
  .contain_other_info .inner-header h1.xh-h1 {
    font-size: 34px;
    width: 180px;
  }
  .contain_other_info .inner-header div.xh-content {
    width: 100%;
  }
  .contain_other_info .inner-header h2.xh-h2 {
    font-size: 20px;
    padding-left: 0px;
    text-decoration: underline;
  }
  .contain_other_info .inner-header h2.xh-h2::after {
    content: none;
  }
  .contain_other_info .inner-header div.xh-content {
    width: 70%;
  }
  .contain_other_info .inner-header span.xh-text {
    font-size: 16px;
  }
}
.contain_other_info .inner-header .scroll-fixed {
  overflow: hidden;
}
.contain_other_info .inner-header .x-cloak {
  display: none;
}
.contain_other_info .inner-header .x-header {
  margin-bottom: 50px;
}
.contain_other_info .inner-header .xh-inner {
  max-width: 1440px;
  background: url(https://assets.codepen.io/1692350/48.png);
  height: 600px;
  background-position: 0% 35%;
}
.contain_other_info .inner-header .xh-inner::before {
  content: "";
  height: 100%;
  width: 100%;
  background: rgba(13, 13, 13, 0.85);
  position: absolute;
  backdrop-filter: blur(8px);
}
.contain_other_info .inner-header .xh-content {
  padding: 50px;
  color: var(--c0);
  position: relative;
  width: 40%;
}
.contain_other_info .inner-header .xh-content::after {
  content: "";
  height: 70%;
  width: 4px;
  position: absolute;
  bottom: 0px;
  right: 0px;
  background: var(--c6);
  box-shadow: 0px 0px 6px var(--c6);
}
.contain_other_info .inner-header .xh-content::before {
  content: "";
  height: 4px;
  width: 70%;
  position: absolute;
  bottom: 0px;
  right: 0px;
  background: var(--c6);
  box-shadow: 0px 0px 6px var(--c6);
}
.contain_other_info .inner-header .xh-h1 {
  width: 290px;
  animation: type 1.5s steps(13), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-size: 56px;
  font-weight: 300;
  margin: 0px;
}
@keyframes type {
  from {
    width: 0;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.contain_other_info .inner-header .xh-h2 {
  opacity: 0;
  animation: fadeIn 800ms forwards;
  animation-delay: 2.5s;
  margin-top: 20px;
  margin-bottom: 50px;
  padding-left: 100px;
  position: relative;
  display: inline-block;
  font-weight: 300;
}
.contain_other_info .inner-header .xh-h2::after {
  content: "";
  height: 2px;
  width: 150px;
  position: absolute;
  bottom: -2px;
  right: 0px;
  background: var(--c6);
  box-shadow: 0px 0px 4px var(--c6);
}
.contain_other_info .inner-header .xh-text {
  font-size: 20px;
  opacity: 0;
  animation: fadeIn 800ms forwards;
  animation-delay: 4s;
  display: block;
  font-weight: 300;
  margin-bottom: 50px;
}
.contain_other_info .inner-header .xgp-close {
  position: absolute;
  top: 10px;
  left: 10px;
  height: 40px;
  width: 40px;
  background: var(--c1);
  cursor: pointer;
}
.contain_other_info .inner-header .xgp-close::before {
  content: "";
  width: 4px;
  height: 100%;
  background: var(--c6);
  position: absolute;
  transform: translate(-2px, 0%) rotateZ(-45deg);
  left: 50%;
  transition: 100ms ease-in-out;
}
.contain_other_info .inner-header .xgp-close::after {
  content: "";
  width: 4px;
  height: 100%;
  background: var(--c6);
  position: absolute;
  transform: translate(-2px, 0%) rotateZ(45deg);
  left: 50%;
  transition: 100ms ease-in-out;
}
.contain_other_info .inner-header .xgp-close:hover::before {
  transform: translate(-2px, 0%) rotateZ(45deg);
}
.contain_other_info .inner-header .xgp-close:hover::after {
  transform: translate(-2px, 0%) rotateZ(-45deg);
}
.contain_other_info .inner-header .x-socials {
  height: 26px;
  opacity: 0;
  animation: fadeIn 800ms forwards;
  animation-delay: 4s;
  position: absolute;
  bottom: 20px;
  right: 20px;
}
.contain_other_info .inner-header .x-social span {
  font-size: 20px;
  line-height: 26px;
  color: var(--c5);
  padding-left: 5px;
  position: relative;
  top: -5px;
}
.contain_other_info .inner-header .x-social {
  border-bottom: 2px solid transparent;
  transition: 100ms ease-in-out;
}
.contain_other_info .inner-header .x-social:hover {
  border-bottom: 2px solid var(--c5);
}
.contain_other_info .inner-header .x-social,
.contain_other_info .inner-header .x-social:visited,
.contain_other_info .inner-header .x-social:active {
  text-decoration: none;
}
.contain_other_info .inner-header .x-social-img {
  height: 100%;
}
.contain_other_info .waves {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px;
  /*Fix for safari gap*/
  min-height: 100px;
  max-height: 150px;
}
.contain_other_info .content {
  position: relative;
  height: 50vh;
  text-align: center;
  background-color: white;
}
.contain_other_info .parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.contain_other_info .parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.contain_other_info .parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.contain_other_info .parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.contain_other_info .parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
@media (max-width: 768px) {
  .contain_other_info .waves {
    height: 70px;
    min-height: 70px;
  }
  .contain_other_info .content {
    height: 50vh;
  }
  .contain_other_info h1 {
    font-size: 24px;
  }
}
.contain_other_info .contain_contact {
  width: 100%;
  height: 30vh;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .contain_other_info .contain_contact {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.contain_other_info .contain_contact .animation {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  height: 100%;
  width: 50%;
}
@media screen and (max-width: 768px) {
  .contain_other_info .contain_contact .animation {
    display: none;
  }
}
.contain_other_info .contain_contact .form_contact {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  height: 100%;
  width: 50%;
  padding-top: 50px;
}
@media screen and (max-width: 768px) {
  .contain_other_info .contain_contact .form_contact {
    width: 100%;
    height: 100%;
    align-items: center;
  }
}
.contain_other_info .contain_contact .form_contact h1 {
  font-size: 18px;
  font-weight: 300;
  color: #20BDFF;
  font-family: "Lustria", serif;
}
.contain_other_info .contain_contact .form_contact .contain_input {
  height: auto;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .contain_other_info .contain_contact .form_contact .contain_input {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
.contain_other_info .contain_contact .form_contact .contain_input .contain_input1 {
  margin-top: 10px;
}
@media screen and (max-width: 768px) {
  .contain_other_info .contain_contact .form_contact .contain_input .contain_input1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 220px;
  }
}
.contain_other_info .contain_contact .form_contact .contain_input .contain_input1 input {
  background-color: rgb(255, 255, 255);
  color: #20BDFF;
  border: 1px solid #20BDFF;
  border-radius: 5px;
  height: 30px;
  padding-left: 10px;
  font-size: 12px;
  font-weight: 300;
  outline: none;
}
.contain_other_info .contain_contact .form_contact .contain_input .contain_input1 input::placeholder {
  color: #20BDFF;
}
@media screen and (max-width: 768px) {
  .contain_other_info .contain_contact .form_contact .contain_input .contain_input1 input {
    max-width: 325px;
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .contain_other_info .contain_contact .form_contact .contain_input .contain_input1 .inputEmail {
    margin-top: 10px;
  }
}
.contain_other_info .contain_contact .form_contact .contain_input .contain_input2 {
  margin-top: 10px;
}
.contain_other_info .contain_contact .form_contact .contain_input .contain_input2 input {
  background-color: rgb(255, 255, 255);
  color: #20BDFF;
  border: 1px solid #20BDFF;
  border-radius: 5px;
  max-width: 325px;
  width: 100%;
  padding-left: 10px;
  font-size: 12px;
  font-weight: 300;
  outline: none;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  height: 100px;
  /* or 178% */
  z-index: 1000px;
}
.contain_other_info .contain_contact .form_contact .contain_input .contain_input2 input::placeholder {
  color: #20BDFF;
}
.contain_other_info .contain_contact .form_contact button {
  margin-top: 10px;
  padding: 0.5rem 1.5rem;
  color: white;
  background-color: #20BDFF;
  border: none;
  outline: none;
  border-radius: 10px;
  transition: all 0.4s ease;
  font-family: "Lustria", serif;
}
.contain_other_info .contain_contact .form_contact button:hover {
  background-color: #193edf;
  color: white;
}

.xg-img-wrap {
  position: relative !important;
}

body.dark .header_work {
  background-color: #131315;
}/*# sourceMappingURL=main.css.map */